.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.popup__container {
  background-color: white;
  border: black 2px solid;
  width: 300px;
  height: 150px;
  text-align: center;
  border-radius: 10px;
}
.popup__title {
  padding-bottom: 20px;
}
.popup__link-first {
  text-decoration: none;
  color: white;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.5s linear;
}
.popup__link-second {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 10px 23px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s linear;
}
.popup__link-first:hover {
  background-color: rgb(178, 2, 2);
}
.popup__link-second:hover {
  background-color: rgb(178, 2, 2);
}
.popup__close {
  color: white;
  font-size: 40px;
  margin-bottom: 300px;
  transition: opacity 0.3s;
}
.popup__close:hover {
  cursor: pointer;
  opacity: 0.8;
}
.popup-visible {
  visibility: visible;
}
